<div class="container">
    <header class="row">
        <h1 class="col-md-12">Bienvenido a ComandasExample</h1>
        <p class="col-md-4">
            Por favor dirijase a la seccion adecuada, esto es un demo <br />
            Por favor limitese a poner valores correctos dentro de las casillas <br />
            Ya que no hay manejo de excepciones.
        </p>
    </header>
    <article class="row">
        <p class="col-md-4">
            Este es un demo de el uso de typescript. <br />
            Typescript es un superset de javascript, lo que sinifica que en lugar de ser un nuevo
            lenguaje, se convierte en un javascript con los esteroides de la orientacion a objetos.
            Typescript se puede usar en cualquier tipo de proyecto donde se usen tecnologias web
            ya que cada que typescript se compila, genera archivos (o archivo) de javascript.
            que corresponden a los estandares actuales del ECMAScript 2015.
        </p>
    </article>
</div>